<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{{.raml.Title}}</title>
    <link rel="stylesheet" href="{{.prefix}}/css/screen.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/agate.min.css"></link>
  </head>

  <body class="index">

    <div class="tocify-wrapper">
      <h2><a class="logo">{{.raml.Title}} v{{$.raml.Version}}</a></h2>
      <p class="description">{{uriParameterHighlight .raml.BaseURI}}</p>
      <div class="search">
        <input type="text" class="search" id="input-search" placeholder="Search">
      </div>
      <ul class="search-results"></ul>
      <div id="toc"></div>
    </div>

    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">

        {{ range $container := sortedMap .raml.Resources}}
          {{$key := $container.Method}}
          {{$value := $container.Value}}
          <h1 id="{{$value.DisplayName | underscore}}">{{$value.DisplayName}}</h1>
          <p>{{$value.Description}}</p>
          {{ range $methodValue := $value.Methods}}

          {{ range $responseKey, $responseValue := $methodValue.Responses}}
            {{if $responseValue.Bodies.Example}}
              <blockquote><p>{{$responseKey}} Response Body</p></blockquote>
              <pre><code>{{$responseValue.Bodies.Example}}</code></pre>
            {{end}}
          {{end}}

          <h3>HTTP Request: {{toUpper $methodValue.Name}}</h3>
          <p>{{$methodValue.Description}}</p>
          <p><code class="prettyprint"><b>{{$methodValue.Name}}</b> <i>{{$.raml.BaseURI}}</i>{{$key}}</code></p>
          {{if $value.URIParameters}}
          <h3>URI Parameters</h3>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{range $uriParamKey, $uriParamValue := $value.URIParameters}}
              <tr><td>{{$uriParamKey}}</td><td>{{$uriParamValue.Type}}</td><td>{{$uriParamValue.Description}}</td></tr>
              {{end}}
            </tbody>
          </table>
          {{end}}

          {{if $methodValue.QueryParameters}}
          <h3 id="query_paramers">Query Parameters</h3>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{range $queryParamKey, $queryParamValue := $methodValue.QueryParameters}}
              <tr><td>{{$queryParamKey}}</td><td>{{$queryParamValue.Type}}</td><td>{{$queryParamValue.Description}}</td></tr>
              {{end}}
            </tbody>
          </table>
          {{end}}

          <h3>Responses</h3>
          <table>
            <thead>
              <tr>
                <th nowrap>Code</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{ range $responseKey, $responseValue := $methodValue.Responses}}
                <tr>
                  <td>{{$responseKey}}</td>
                  <td>{{$responseValue.Description}}</td>
                </tr>
              {{end}}
            </tbody>
          </table>
          {{end}}
        {{end}}
        {{if $.raml.Types}}
        <h1 id="all_types">All Types</h1>
        <p>All defined data types are listed below</p>

          {{if $.raml.Types}}
            {{ range $typeKey, $typeValue := $.raml.Types}}
              <h2 id="{{$typeKey}}">
                <span>{{$typeKey}} ({{$typeValue.Type}})</span>
              </h2>
              <p>{{$typeValue.Description}}</p>

              <pre><code class="hljs json">{{$typeValue.Example}}</code></pre>

              <h3>Properties</h3>
              <table class="documentation__parameters table">
                <thead>
                  <tr>
                    <th>name</th>
                    <th>type</th>
                    <th>enum</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range $propKey, $propValue := $typeValue.Properties}}
                  <tr>
                    <td>
                      <span>{{$propKey}}</span>
                      <span class="text-primary">*</span>
                    </td>
                    <td>{{$propValue}}</td>
                    <td>-</td>
                  </tr>
                  {{end}}
                </tbody>
              </table>

            {{end}}
          {{end}}
        {{end}}
      </div>
    </div>

    <footer class="footer"></footer>

    </div>

    <script>
      window.project = {
        directory: "{{.directory}}",
        name: "{{.name}}",
        clientUUID: "{{.clientUUID}}"
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{.prefix}}/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/json.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>
