<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{{.raml.Title}}</title>
    <link rel="stylesheet" href="{{.prefix}}/css/screen.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/agate.min.css"></link>
  </head>

  <body class="index">

    <div class="tocify-wrapper">
      <h2><a class="logo">{{.raml.Title}} v{{$.raml.Version}}</a></h2>
      <p class="description">{{uriParameterHighlight .raml.BaseURI}}</p>
      <div class="search">
        <input type="text" class="search" id="input-search" placeholder="Search">
      </div>
      <ul class="search-results"></ul>
      <div id="toc"></div>
    </div>

    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">

        {{ range $key, $value := .raml.Resources}}
        <h1 id="{{$value.DisplayName | underscore}}">{{$value.DisplayName}}</h1>
        <p>{{$value.Description}}</p>
        {{ range $methodKey, $methodValue := $value.Methods}}

        <p>{{$methodValue.Description}}</p>

        {{ range $responseKey, $responseValue := $methodValue.Responses}}
            {{ range $bodyKey, $bodyValue := $responseValue.Bodies}}
              {{if $bodyValue.Example.Value.String}}
                <blockquote><p>{{$responseKey}} Response Body</p></blockquote>
                <pre><code>{{$bodyValue.Example.Value.String}}</code></pre>
              {{end}}
            {{end}}
        {{end}}

        <h3>HTTP Request</h3>
        <p><code class="prettyprint">{{$methodKey}} {{$key}}</code></p>
        {{if $value.URIParameters.MapAPITypes}}
        <h3>URI Parameters</h3>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{range $uriParamKey, $uriParamValue := $value.URIParameters.MapAPITypes}}
            <tr><td>{{$uriParamKey}}</td><td>{{$uriParamValue.Type}}</td><td>{{$uriParamValue.Description}}</td></tr>
            {{end}}
          </tbody>
        </table>
        {{end}}

        {{if $methodValue.QueryParameters.Mapdata}}
        <h3 id="query_paramers">Query Parameters</h3>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{range $queryParamKey, $queryParamValue := $methodValue.QueryParameters.Mapdata}}
            <tr><td>{{$queryParamKey}}</td><td>{{$queryParamValue.Type}}</td><td>{{$queryParamValue.Description}}</td></tr>
            {{end}}
          </tbody>
        </table>
        {{end}}

        <h3>Responses</h3>
        <table>
          <thead>
            <tr>
              <th nowrap>Code</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{ range $responseKey, $responseValue := $methodValue.Responses}}
              <tr>
                <td>{{$responseKey}}</td>
                <td>{{$responseValue.Description}}</td>
              </tr>
            {{end}}
          </tbody>
        </table>
        {{end}}
        {{end}}
        {{$.Types}}
        {{if $.Types.MapAPITypes}}
        <h1 id="all_types">All Types</h1>
        <p>All defined data types are listed below</p>
        <div class="documentation__endpoints">
          <div class="documentation__endpoints__params">
            {{ range $key, $value := $.Types.MapAPITypes}}
            <h2 id="{{$key}}" class="documentation__subheader">
              <span>{{$key}}</span>
              <span class="text-primary">*</span>
            </h2>
            <table class="documentation__parameters table">
              <thead>
                <tr><th>type</th><th>properties</th></tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span>{{$value.Type}}</span>
                  </td>
                  <td>
                    <table class="documentation__parameters table">
                      <thead>
                        <tr>
                          <th>name</th>
                          <th>type</th>
                          <th>enum</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $propKey, $propValue := $value.Properties.Mapdata}}
                        <tr>
                          <td>
                            <span>{{$propKey}}</span>
                            <span class="text-primary">*</span>
                          </td>
                          <td>{{$propValue.Type}}</td>
                          <td>-</td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            {{end}}
          </div>
          <div class="documentation__endpoints__examples"></div>
        </div>
        {{end}}
      </div>
    </div>

    <footer class="footer"></footer>

    </div>

    <script>
      window.project = {
        directory: "{{.directory}}",
        name: "{{.name}}",
        clientUUID: "{{.clientUUID}}"
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{.prefix}}/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/json.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>
